<ion-header translucent={true}>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkbox</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen={true}>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Characters
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Jon Snow</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
      <ion-label>Daenerys Targaryen</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox disabled slot="start"></ion-checkbox>
      <ion-label>Arya Stark</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="secondary" slot="start"></ion-checkbox>
      <ion-label>Tyrion Lannister</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
      <ion-label>Sansa Stark</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label>Khal Drogo</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      <ion-label>Cersei Lannister</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
      <ion-label>Stannis Baratheon</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" disabled slot="start"></ion-checkbox>
      <ion-label>Petyr Baelish</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
      <ion-label>Hodor</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="secondary" checked slot="start"></ion-checkbox>
      <ion-label>Catelyn Stark</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-label>Bronn</ion-label>
    </ion-item>
  </ion-list>

  <!-- Default Checkbox -->
  <div>
    <ion-checkbox></ion-checkbox>
    <ion-label> Default</ion-label>
  </div>
  <!-- Disabled Checkbox -->
  <div>
    <ion-checkbox disabled="true"></ion-checkbox>
    <ion-label> Disabled</ion-label>
  </div>
  <!-- Checked Checkbox -->
  <div>
    <ion-checkbox checked="true"></ion-checkbox>
    <ion-label> Checked</ion-label>
  </div>
  <!-- Checkbox Colors -->
  <ul>
    <li>
      <ion-checkbox color="primary" checked="false"></ion-checkbox>
    </li>
  </ul>
  <ul>
    <li>
      <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </li>
  </ul>
  <ul>
    <li>
      <ion-checkbox color="light" checked="true"></ion-checkbox>
    </li>
  </ul>
  <ul>
    <li>
      <ion-checkbox color="dark" checked="false"></ion-checkbox>
    </li>
  </ul>
  <ul>
    <li>
      <ion-checkbox color="danger" checked="true"></ion-checkbox>
    </li>
  </ul>

  <ion-list>  
    <ion-item *ngFor="let entry of form">  
      <ion-label>{{entry.val}}</ion-label>  
      <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>  
    </ion-item>  
  </ion-list> 
</ion-content>