<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>Default Input</p>
    <ion-input></ion-input>

    <p>Input with value</p>
    <ion-input value="custom"></ion-input>

    <p>Input with placeholder</p>
    <ion-input placeholder="Enter Input"></ion-input>

    <p>Number type input</p>
    <ion-input type="number" value="1100"></ion-input>

    <p>Input with clear button when the value is available</p>
    <ion-input clearInput value="clear me"></ion-input>

    <p>Disabled input</p>
    <ion-input value="Disabled" disabled></ion-input>

    <p>Readonly input</p>
    <ion-input value="Readonly" readonly></ion-input>

    <p>Inputs in List</p>
    <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button color="primary" expand="block">Sign In</ion-button>
    </div>

    <p>Multiline Text Input</p>
    <!-- Textarea in an item with a placeholder -->
    <ion-item>
      <ion-textarea placeholder="Enter information here..."></ion-textarea>
    </ion-item>

    <!-- Disabled and readonly textarea in an item with a stacked label -->
    <ion-item>
      <ion-label position="stacked">Summary</ion-label>
      <ion-textarea disabled readonly value="Ionic is a cross-platform mobile apps framework.">
      </ion-textarea>
    </ion-item>

    <!-- Textarea that clears the value on edit -->
    <ion-item>
      <ion-label>Comment</ion-label>
      <ion-textarea clearOnEdit="true"></ion-textarea>
    </ion-item>

    <!-- Textarea with custom number of rows and cols -->
    <ion-item>
      <ion-label>Notes</ion-label>
      <ion-textarea rows="5" cols="10" placeholder="Enter some notes here..."></ion-textarea>
    </ion-item>
  </div>
</ion-content>