<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>Default Input</p>
    <ion-input></ion-input>

    <p>Input with value</p>
    <ion-input value="custom"></ion-input>

    <p>Input with placeholder</p>
    <ion-input placeholder="Enter Input"></ion-input>

    <p>Number type input</p>
    <ion-input type="number" value="1100"></ion-input>

    <p>Input with clear button when the value is available</p>
    <ion-input clearInput value="clear me"></ion-input>

    <p>Disabled input</p>
    <ion-input value="Disabled" disabled></ion-input>

    <p>Readonly input</p>
    <ion-input value="Readonly" readonly></ion-input>
  </div>
</ion-content>