<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hello {{folder}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-text color="primary">
      <h1>Test navigation</h1>
    </ion-text>
    <ion-button href="/animals">href ANIMALS</ion-button>
    <ion-button (click)="go123()">navigate ANIMALS</ion-button>
    <ion-button href="/animals/someid-by-href">href ANIMALS WITH ID</ion-button>
    <ion-button (click)="go1234()">navigate ANIMALS WITH ID</ion-button>
    <ion-button [routerLink]="['/animals']">routerLink ANIMALS</ion-button>
    <ion-button [routerLink]="['/animals/someid-by-routerLink']">routerLink ANIMALS WITH ID</ion-button>
    <ion-button (click)="goAndPassData('toi doi bung qua, toi muon di an lau bo')">go and pass data</ion-button>

    <ion-text color="primary">
      <h1>Component</h1>
    </ion-text>
    <ion-button (click)="goComponent()">Component</ion-button>
  </div>
</ion-content>