<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding-start ion-padding-end">
    <ion-button (click)="goAccordion()">component</ion-button>
    <ion-button (click)="goActionSheet()">action-sheet</ion-button>
    <ion-button (click)="goAlert()">alert</ion-button>
    <ion-button (click)="goAvatar()">avatar</ion-button>
    <ion-button (click)="goBadge()">badge</ion-button>
    <ion-button (click)="goButton()">button</ion-button>
    <ion-button (click)="goCard()">card</ion-button>
    <ion-button (click)="goChip()">chip</ion-button>
    <ion-button (click)="goFab()">fab</ion-button>
    <ion-button (click)="goGrid()">grid</ion-button>
    <ion-button (click)="goItem()">item</ion-button>
    <ion-button (click)="goItemGroup()">item-group</ion-button>
    <ion-button (click)="goList()">list</ion-button>
    <ion-button (click)="goNav()">nav</ion-button>
    <ion-button (click)="goNote()">note</ion-button>
  </div>
</ion-content>