<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-start ion-padding-end">
    <ion-button (click)="goAccordion()">component</ion-button>
    <ion-button (click)="goActionSheet()">action-sheet</ion-button>
    <ion-button (click)="goAlert()">alert</ion-button>
    <ion-button (click)="goAvatar()">avatar</ion-button>
    <ion-button (click)="goBadge()">badge</ion-button>
    <ion-button (click)="goButton()">button</ion-button>
    <ion-button (click)="goCheckBox()">checkbox</ion-button>
    <ion-button (click)="goCard()">card</ion-button>
    <ion-button (click)="goChip()">chip</ion-button>
    <ion-button (click)="goContent()">content</ion-button>
    <ion-button (click)="goFab()">fab</ion-button>
    <ion-button (click)="goGrid()">grid</ion-button>
    <ion-button (click)="goInfiniteScroll()">infinite scroll</ion-button>
    <ion-button (click)="goInput()">input</ion-button>
    <ion-button (click)="goItem()">item</ion-button>
    <ion-button (click)="goItemGroup()">item-group</ion-button>
    <ion-button (click)="goList()">list</ion-button>
    <ion-button (click)="goLoading()">loading</ion-button>
    <ion-button (click)="goModal()">goModal</ion-button>
    <ion-button (click)="showModal()">showModal</ion-button>
    <ion-button (click)="goNav()">nav</ion-button>
    <ion-button (click)="goNav()">note</ion-button>
    <ion-button (click)="goProgress()">progress</ion-button>
    <ion-button (click)="goRadio()">radio</ion-button>
    <ion-button (click)="goRange()">range</ion-button>
    <ion-button (click)="goSelect()">select</ion-button>
    <ion-button (click)="goSlides()">slides</ion-button>
    <ion-button (click)="goSpinner()">spinner</ion-button>
    <ion-button (click)="goText()">text</ion-button>
    <ion-button (click)="goThumbnail()">thumbnail</ion-button>
    <ion-button (click)="goToast()">toast</ion-button>
    <ion-button (click)="goToggle()">toggle</ion-button>
  </div>
</ion-content>