<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      animals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>animals</ion-card-subtitle>
      <ion-card-title>animals</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>animals</p>
    </ion-card-content>
    <ion-button size="medium" color="light">Light</ion-button>
    <ion-button (click)="goBack()">Back to page folder/Inbox</ion-button>  
    <ion-img src="/assets/shapes.svg"></ion-img>
  </ion-card>
</ion-content>