<ion-header>
  <ion-toolbar>
    <ion-title>animals123</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>animals</ion-card-subtitle>
      <ion-card-title>animals</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>animals</p>
    </ion-card-content>
    <ion-buttons slot="start" (click)="goBack()">Back123</ion-buttons>
  </ion-card>
</ion-content>