<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      loading
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="danger" (click)="showLoading()">Show Loading auto hide</ion-button>
  <ion-button expand="block" color="danger" (click)="show()">Show</ion-button>
  <ion-button expand="block" color="danger" (click)="hide()">Hide</ion-button>
</ion-content>